.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.larger-screen-message {
  border: 2px solid black;
  font-family: "Silkscreen";
  background: white;
  padding: 5px;
}

.height-message {
  margin-top: 20px;
  position: absolute;
  z-index: 5;
  border: 2px solid black;
  font-family: "Silkscreen";
  background: white;
  padding: 10px;
  filter: drop-shadow(1px 1px 4px black);
}

.height-message-bg {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 4;
  background: black;
  opacity: 0.5;
  padding: 5px;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed;
  z-index: 3;
}

.sidebar-desc {
  width: 88%;
  height: 35vh;
  font-family: "Work Sans";
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small {
  font-size: 1vw;
}

.serif {
  font-size: 1.2vw;
  font-family: "Libre Baskerville";
}

.small-serif {
  font-size: 0.7vw;
  font-family: "Libre Baskerville";
}

.bottom-bar {
  height: 47vh;
  width: 88%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.page-nav {
  height: 42vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page-option {
  height: 4vh;
  width: 70%;
  border: 1.5px solid black;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Silkscreen";
  font-size: 1vw;
}

.page-option-text {
  width: 100%;
  display: flex;
  justify-content: center;
}

.page-option-hovered {
  position: absolute;
  background: black;
  width: 0%;
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Silkscreen";
  font-size: 1vw;
}

.bottom-in {
  display: flex;
  height: 15vh;
  width: 100%;
  justify-content: flex-end;
  flex-direction: column;
}

.sidebar-icons {
  height: 24px;
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-cp {
  height: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Work Sans";
  font-size: 1vw;
}

.sidebar-lastupdated {
  height: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  font-family: "Libre Baskerville";
  font-size: 0.5vw;
}

.previews-wrapper {
  width: 78vw;
  background: green;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.preview-wrapper {
  margin-top: 5vh;
  background: skyblue;
  height: 70vh;
  width: 38.5vw;
  margin-bottom: 5vh;
}

.preview-image {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  background: yellow;
}

.preview-text-wrapper {
  width: 100%;
  background: pink;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.preview-text-date {
  width: 100%;
  height: 10%;
  background: orange;
  font-family: "Work Sans";
  font-size: 0.9vw;
}

.preview-text-title {
  width: 100%;
  height: 27%;
  background: darkseagreen;
  font-family: "Libre Baskerville";
  font-size: 2vw;
}

.preview-text-info-wrapper {
  width: 100%;
  height: 50%;
  background: aquamarine;
  display: flex;
}

.preview-text-info {
  width: 50%;
  height: 100%;
  background: olivedrab;
  display: flex;
  flex-direction: column;
  font-family: "Silkscreen";
  font-size: 0.9vw;
}

.info {
  font-size: 0.8vw;
  font-family: "Work Sans";
}

.hi {
  font-family: "Libre Baskerville";
  font-style:italic;
  margin-top: 1vh;
}

.first-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.second-page {
  width: 80vw;
  background: rgba(128, 0, 128, 0.0);
  z-index: 3;
  background: purple;
  align-self: flex-end;
  display: flex;
  justify-content: center;
}

.splash-page-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #FFF9E6; 
  align-items: center;
  justify-content: flex-end;
}

.splash-page {
  display: flex; 
  width: 80vw;
  height: 100vh;
  min-height: 658px;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  overflow: scroll;
}

.sp-col-1 {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.buttons-col-1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sp-col-2 {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 150px;
}

.sp-col-3 {
  height: 85vh;
  width: 26.5vw;
  display: flex;
  flex-direction: column;
}

.Paintbox-wrapper {
  width: 400px;
  height: 240px;
}

.Paintbox-body {
  width: 385px;
  height: 170px;
  justify-self: flex-end;
  display: flex;
  align-items: flex-start;
}

.Paintbox-paints {
  width: 50px;
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.Paintbox-canvas {
  width: 315px;
  height: 160px;
  background: white;
  border-radius: 7px;
  margin-left: 2.5px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Paintbox-pixel {
  width: 10px;
  height: 10px;
}

.Paintbox-selected-color {
  margin-left: 357px;
  margin-top: -13px;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  position: absolute;
  border: 1.5px solid black;
}

.Paintbox-paint {
  width: 20px;
  height: 20px;
  border: 1.5px solid black;
  border-radius: 5px;
}

.Paintbox-erase {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-size: 10px;
  width: 40px;
  height: 15px;
  border: 1.5px solid black;
  border-radius: 5px;
  position: absolute;
  margin-top: 150px;
  margin-left: 5px;
}

.Box2-wrapper {
  width: 400px;
}

.Notepad-wrapper {
  width: 250px;
}

.Notepad-bg {
  width: 250px;
  background: black;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  display: flex;
  height: 80vh; 
  width: 80vw;
  position: absolute;
  justify-content: space-evenly;
}

.Box1-wrapper {
  width: 270px;
}

.Box2-bg {
  background: black;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.Box2-exterior {
  border-radius: 7px;
  background: white;
  width: 382px;
  display: flex;
  border-bottom: 7px solid gray;
  border-right: 7px solid lightgray;
  border-top: 7px solid #fafafa;
  border-left: 7px solid #E7E7E7;
}

.Notepad-exterior {
  width: 240px;
  background: lightgray;
  border-bottom: 3px solid gray;
  border-right: 3px solid lightgray;
  border-top: 3px solid #fafafa;
  border-left: 3px solid #E7E7E7;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Notepad-header {
  width: 240px;
  height: 24px;
  border: 1px solid black;
  border-radius: 7px 7px 0px 0px;
  background: linear-gradient(90deg, rgb(223, 202, 239), rgb(191, 230, 239));
  display: flex;
  justify-content: center;
}

.Notepad-header-wrapper {
  width: 225px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Notepad-title {
  width: 215px;
  font-family: "Silkscreen";
  color: black;
  font-size: 12px;
}

.Notepad-x {
  width: 13px;
  height: 13px;
  border-radius: 3px;
  border: 1px solid black;
  filter: drop-shadow(2px 2px 0px gray);
  background: white;
  font-family: 'Orbitron';
  color: black;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Notepad-menu {
  width: 230px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Notepad-menu-unselected {
  width: auto;
  height: 20px;
  font-family: "Silkscreen";
  font-size: 10px;
  display: flex;
  align-items: center;
}

.Notepad-menu-selected {
  width: auto;
  height: 20px;
  font-family: "Silkscreen";
  font-size: 10px;
  background: #ececec;
  filter: drop-shadow(1px 1px 1px gray);
  font-family: "Silkscreen";
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}

.Notepad-enter-wrapper {
  width: 225px;
}

.Notepad-enter {
  width: 225px;
  background: white;
  border: 2px solid black;
  border-radius: 7px;
  margin-left: -3px;
}

.Notepad-cursor {
  font-family: "Silkscreen";
  font-size: 18px;
  position: absolute;
}

@media (prefers-reduced-motion: no-preference) {
  .Notepad-cursor {
    animation: Notepad-cursor-blink infinite 3s linear;
  }
}

@keyframes Notepad-cursor-blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Title-box-wrapper {
  width: 20vw;
  height: 15vh;

  display: flex;
  align-items: center;
}

.Title-box-border {
  margin-top: 0.35vh;
  width: 13.5vw;
  height: 9vh;
  position: absolute;
  border: 1px solid black;
}

.Title-box {
  margin-left: 1.2vw;
  width: 14vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.Title-box-text {
  font-family: "Silkscreen";
  font-size: 1.5vw;
  position: absolute;
  margin-top: 3vh;
}

.Title-box-box-row {
  width: 100%;
  height: 2vh;
  display: flex;
  justify-content: space-between;
}

.Title-box-circle-row {
  width: 85%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
}

.Title-box-spacer {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title-box-box {
  width: 6px;
  height: 6px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
  border: 1px solid black;
  background: white;
}

.Title-box-circle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Title-box-inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: black;
}

.tb-button {
  background: linear-gradient(45deg, rgb(255, 186, 238) 0%, rgb(194, 244, 255) 50%, rgb(240, 255, 172) 100%);
}

.tb-button-normal {
  background: white;
}

.Box2-bg {
  background: black;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  filter: drop-shadow(8px 8px 0px rgba(0, 0, 0, 0.2))
}

.Box2-exterior {
  border-radius: 7px;
  background: white;
  width: 382px;
  display: flex;
  border-bottom: 7px solid gray;
  border-right: 7px solid lightgray;
  border-top: 7px solid #fafafa;
  border-left: 7px solid #E7E7E7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box2-interior {
  background: white;
  border: 2px dotted lightgray;
  border-radius: 7px;
  width: 367px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Box2-header {
  background: linear-gradient(90deg, rgb(255, 186, 238) 0%, rgb(194, 244, 255) 50%, rgb(240, 255, 172) 100%);
  width: 367px;
  height: 35px;
  border-radius: 7px 7px 0px 0px;
  border: 1px solid rgb(41, 41, 41);
  position: absolute;
  margin-top: -2px;
}

.Box2-header-wrapper {
  width: 355px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.Box2-header-text {
  width: 320px;
  font-size: 12px;
  font-family: 'Silkscreen';
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box2-buttons-container {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Box2-decor-bg {
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.Box2-decor {
  width: 97%;
  height: 88%;
  border: 3px solid white;
  background: linear-gradient(90deg, rgb(210, 167, 182) 0%, rgb(176, 211, 219) 50%, rgb(159, 212, 203) 100%);
}

.Box2-planet {
  height: 100px;
  position: absolute;
  margin-top: -5%;
  margin-left: 25%;
  filter: drop-shadow(1px 1px 3px lightgray);
}

.Box2-planet-noring {
  height: 205px;
  position: absolute;
  margin-top: -23%;
  margin-left: -5%;
}

.Box2-panel {
  margin-left: 5%;
  height: 70px;
  position: absolute;
}

.Box2-button-bg {
  width: 50%;
  background:black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.Box2-button {
  width: 92%;
  height: 75%;
  background: white;
  border-bottom: 4px solid gray;
  border-right: 4px solid lightgray;
  border-top: 4px solid #fafafa;
  border-left: 4px solid #E7E7E7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Silkscreen";
  font-size: 12px;
}

.Box1-exterior {
  border-radius: 7px;
  background: black;
  color: white;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -8px;
  margin-left: -8px;
  /*position: absolute;*/
}

.Box1-bg {
  width: 270px;
  background: #E8E6DF;
  border: 2px solid black;
  border-radius: 7px;
  margin-top: 7px;
  margin-left: 7px;
  /*position: absolute;*/
  filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.3))
}

.Box1-interior {
  border-radius: 4px;
  background: white;
  width: 256px;
  margin-bottom: 7px;
  margin-top: 41px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box1-image {
  border-radius: 4px 4px 0px 0px;
  width: 256px;
  background: gray;
}

.vertical-line {
  height: 100vh;
  width: 1px;
  margin-right: 2vw;
}

.horizontal-line {
  height: 1px;
  width: 100vw;
  margin-top: 3.125vh;
}

.Box1-top-wrapper {
  display: flex;
  height: 40px;
  width: 245px;
  position: absolute;
  justify-content: space-between;
  align-items:center;
}

.white-x {
  background: white;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  border-bottom: 3px solid gray;
  border-right: 3px solid lightgray;
  border-top: 3px solid #fafafa;
  border-left: 3px solid #E7E7E7;
  color: black;
  font-weight: bold;
  font-family: 'Orbitron';
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.Box1-button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 245px;
  height: 55px;
}

.Box1-button-background {
  background: black;
  height: 42px;
  width: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Box1-button {
  background: white;
  height: 30px;
  border-bottom: 4px solid gray;
  border-right: 4px solid lightgray;
  border-top: 4px solid #fafafa;
  border-left: 4px solid #E7E7E7;
  color: black;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Silkscreen';
  font-size: 12px;
}

.box-top-text {
  width: 200px;
  color: white;
  font-size: 12px;
  font-family: 'Silkscreen';
}

.planet {
  position: absolute;
  width: 200px;
  margin-top: -90px;
  margin-left: -20px;
  transform: rotate(20deg);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
